.machine-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.machine-container p {
  font-size: 25px;
  font-weight:bold;
  font-family: serif;
  text-shadow: 2px 2px 0px #e01c34;
  margin-bottom: 1px;
}

.gif-container {
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.gif-grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem; */
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 20px 0 20px 0;
}

.gif-grid .gif-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  margin: 30px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.gif-item img {
  width: 100%;
  height: auto;
  max-height: 350px;
  border-radius: 10px;
  object-fit: cover;
}
